*{
    margin:0;
    text-align: center;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
html{
    background-color: #F4F4F4;
   
}
.container{
    background-color: #6943FF;
  
}
h1{
    font-weight:800px;
    font-size: 3.5em;
    color:#ffffff;
}
.wrapper{
    padding:40px 0px 3.5em 0;

}

#result{
    color:#ffffff;
    background-color: #6943FF;
    border: 2px solid #ffffff9c;
    border-radius: 5px;
    width:16vw;
    height: 17vh;
    font-weight: 900;
    margin: .5em 0px .45em 0px;
    font-size: 7em;
    outline: none;
    
    
}
#btn{
    width: 16vw;
    padding:.5em .5em;
    border: 0;
    border-radius: 5px;
    font-size: 1.5em;
    background-color: #ffffff;
}
#btn:hover{
    background-color: #ffffffb0;
}
.content{
    background-color: #ffffff;
    margin: 2em 1em;
    font-size: 2em;
    padding:1.5em 0px 1em;
}
.content .head{
    font-weight: 600;
    color: #5A537B;
}
.content .text{
    margin-top: .8em;
    font-size:.7em;
    font-weight: 400;
}
a{
    text-decoration: none;
}
a:active{
    color: black;
}
